// .section1>figure{
//     transform: rotateY(190deg) translateY(-35px);
//     padding: 0;
//     margin: 0;
// }

.img2 {
    transform: rotateY(-180deg);
    height: 100%;
    width: 100%;
}
figure {
    padding: 0;
    margin: 0;
}