button {
    margin: auto;
    display: flex;
    width: 100px;
    justify-content: center;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 8px 3px white;
    border: none;
}

