.d1 {
    padding: 15px;
    background-color: aqua;
}
.d1 div {
    padding: 15px;
    display: inline-block;
    margin-right: 20px;
    background-color: mediumpurple;
    color: white;
}
.d2 {
    background-color: antiquewhite;
    margin-top: 40px;
    padding: 20px;
    display: table;
    /* position: relative; */
    /* display: table; */
    /* float: left; */
}
.d2>div {
    background-color: burlywood;
    color: white;
    padding: 3px;
    /* position: absolute; */
    width: 45%;
    margin-right: 5%;
    box-sizing: border-box;
    border: solid 1px red;
    padding: 10px;
    display: inline-block;
    /* float: left; */
}

